name: Podman and GitHub integration test

on:
  workflow_dispatch:

permissions:
  contents: read
  packages: read

jobs:
  podman_gh_test:
    runs-on: self-hosted

    steps:
      - name: Check Podman version
        run: podman --version

      - name: Check Podman info
        run: podman info

      - name: Login to GHCR
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | \
            podman login ghcr.io -u "${{ github.actor }}" --password-stdin

      - name: List images on runner
        run: podman images

      - name: List containers in GHCR for LAIFS
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "Listing GHCR packages for ${{ github.repository_owner }}"
          gh api \
            /orgs/${{ github.repository_owner }}/packages?package_type=container
