name: Podman and GitHub integration test

on:
  workflow_dispatch:

permissions: write-all

jobs:
  podman_gh_test:
    runs-on: self-hosted

    steps:
      - name: Check Podman version
        run: podman --version

      - name: Check Podman info
        run: podman info

      - name: List images on runner
        run: podman images

      - name: Login to GHCR
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | \
            podman login ghcr.io -u "${{ github.actor }}" --password-stdin
